 <!-- Resume Section -->
    <section class="portfolio" id="resume">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">                    
                    <h2>Resume</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h1>Education</h1>
                    <strong>I Liceum Ogólnokształcące w Skarżysku-Kamiennej</strong> <br>Class profile: Math-Physics<br><br>
                    <strong>Technical University of Lodz</strong><br>Faculty of Technical Physics, Information Technology and Applied Mathematics<br>Speacialization: Computer Games and Simulation<br>
                    <h1>Skills</h1>           
                    <b>Languages:</b> Polish - <i>native</i>, English - <i>advanced</i><br>
                    <b>Programming:</b> C# - <i>high level</i>; C++ - <i>advanced</i>; PHP, Perl, Java - <i>basic</i><br>
                    <b>IDE:</b>Microsoft Visual Studio - <i>high level</i>, XCode - <i>advanced</i>; Android Studio - <i>advanced</i><br>
                    <b>Peripherals:</b> Oculus Rift DK2, Samsung Gear VR , EyeTribe tracker - <i>basic</i><br>
                    <b>Version Control:</b>Git  - <i>high level</i>; Subversion, Perforce - <i>advanced</i>; Mercurial -<i>basic</i><br>
                    <b>API:</b> Switch, Steamworks - <i>high level</i>; iOS, Android, .NET - <i>advanced</i> XNA, SFML, Qt - <i>basic</i><br>
                    <b>Engine:</b> Unity - <i>high level</i>;<br>
                    <h1>Awards</h1>
                    <b>Nordic Game Jam 2014</b><br>
                    For game:<i>In Space No One Can Hear You Cry</i><br>
                    - 3rd place for Audience Award<br>
- The Eye Tribe Honorable Mention<br>
- Best Unexpected Surprise<br><br>
                    <b>Slavic Game Jam 2015</b></br>
                    For game:<i>Hot Pot Rampage</i><br>
                    - Best Game Overall<br>
- Best Unity game<br>
- Best Universal Windows Platform game<br>
                    
                       
                        
                </div>                
                <div class="col-lg-8">
                    <h1>Work Experience</h1>
                    <h6>Crunching Koalas</h6>
                     <b>C# Programmer/Porting Consultant</b><br>
                     <b>March 2017 - Present</b><br>
                      - Thronebreaker: The Withcer Tales (CD Projekt RED) - Switch/iOS/Android port<br>
                      - Bonkies (Studio Gauntlet) - Consulting<br>
                      - Project Warlock (Buckshot Software) - Consulting<br>
                      - Gwent: The Witcher Card Game (CD Projekt RED) - UI development support<br>
                      - Warsaw (Pixelated Milk) - Consulting<br>
                      - Children of Morta (Dead Mage/11 bit Studios) - Consulting<br>
                      - Darkwood (Acid Wizard Studio) - Switch port<br>
                      - My Memory of Us (Juggler Games) - Switch port<br>
                      - Timber Tennis Versus (Digital Melody) - Steam/Switch port<br>
                    <h6>Qubic Games</h6>
                     <b>C++ Programmer</b><br>
                     <b>July 2016 - January 2017</b><br>                     
                      - Robonauts – gameplay, sound systems and user interface.<br>
                    <h6>Wastelands Interactive</h6>
                     <b>C++/C# Programmer</b><br>
                     <b>September 2011 - June 2016</b><br>                     
                      - Time of Fury – Project finalization for retail release<br>
- Strategic War in Europe – Gameplay, Steamworks integration.<br>
- Fall Weiss – Gameplay, Steamworks integration.<br>
- Worlds of Magic – Launcher, Sound and animation, Steam multiplatform deployment pipeline.<br>
- Underlords – Short VR demo for PGA 2015<br>
- Unity plugin allowing to get EMG data from Myo Armband connected to Android device<br>
- Several gameplay prototypes created in Unity<br>
- Intership supervison for programmers<br>                    
          <!--      </div>
                <div class="col-lg-4">-->
                    <h6>Aviary.pl</h6>
                    <b>Quality Assurance</b><br>
                    <b>January 2013 - July 2014</b>
                    <br>- Created and serviced Selenium scripts for Polish localization of BugZilla product.<br>
                    <h6>Bitwy Komiksowe</h6>
                    <b>Web Development, Server management</b>
                    <b>September 2005 - September 2015 (Irreguraly)</b><br>
                   - Created CMS-based webpage in PHP+MySQL and based on Zend
Framework<br>
- Serviced LAMP server on Debian machine<br>
<h1>Event organization</h1>
<b>- Komiks Festiwal Game Jam –</b> 3-5 October 2014 (as a part of The 26th International Festival of Comics and Games in Lodz)<br>
<b>- Łódzki Game Jam 2 –</b> 23-25 January 2015 (as a part of Global Game Jam 2015)<br>
<b>- Komiks Game Jam 2 – </b> 2-4 October 2015 (as a part of The 27th International Festival of Comics and Games in Lodz)<br>
<b>- Łódzki Game Jam 3 – </b> 29-31 January 2016 (as a part of Global Game Jam 2016)<br>
                    <b>- Komiks Game Jam 3 – </b> 30 September - 2 October 2016 (as a part of The 28th International Festival of Comics and Games in Lodz)<br>
                    <b>- Łódzki Game Jam 4 – </b> 20-22 January 2017 (as a part of Global Game Jam 2017)<br>
            <!--      </div>
                 <div class="col-lg-4"> -->
                    
            <!--      </div>
                <div class="col-lg-4"> 
                    <h6>Insecure Shark</h6>
                     <b>Various</b><br>
                     <b>August 2015 - Today</b>                     
                    <p>Test 2 Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                --></div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="download/cv.pdf" class="btn btn-lg btn-outline-resume">
                        <i class="fa fa-download"></i> Download resume in .pdf
                    </a>
                </div>
            </div>
        </div>
    </section>
